$main-color: #fcb426;
$second-color: #393939;

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Lato', sans-serif;
	height: 100vh;
	background-color: $second-color;
	color: white;
}

.menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 40px;
	width: 100%;
	height: 100px;
	.inote-logo {
		width: 28px;
	}

	h1 span {
		color: $main-color;
	}
}

.menu-buttons,
.panel-buttons {
	button {
		padding: 10px 20px;
		background: none;
		border: 2px solid $main-color;
		border-radius: 5px;
		color: $main-color;
		cursor: pointer;
		transition: background-color 0.3s, color 0.3s;
	}

	button:hover {
		background-color: $main-color;
		color: $second-color;
	}

	.add-note {
		margin-right: 20px;
	}
	.save {
		margin-right: 10px;
	}
}

.note-area {
	display: flex;
	align-items: start;
	flex-wrap: wrap;
	padding: 20px;

	.note {
		margin: 40px 20px;
		width: 240px;
		color: $second-color;
		border-radius: 5px;
		box-shadow: 0 0 5px $main-color;
		transition: box-shadow 0.3s;

		.note-header {
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 10px 10px 10px 15px;
			background-color: $main-color;
			border-top-left-radius: 5px;
			border-top-right-radius: 5px;

			.delete-note {
				padding: 5px;
				background: none;
				border: none;
				font-size: 20px;
				cursor: pointer;
				transition: transform 0.8s;
			}

			.delete-note:hover {
				transform: rotate(360deg);
			}
		}

		.note-body {
			padding: 20px 15px;
			font-size: 15px;
		}
	}
	.note:hover {
		box-shadow: 0 0 10px $main-color;
	}
}

.add-note-panel {
	display: none;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 40px 0;
	width: 500px;
	color: $main-color;
	background-color: rgba($second-color, $alpha: 0.5);
	backdrop-filter: blur(4px);
	border: 2px solid $main-color;
	border-radius: 5px;
	box-shadow: 0 0 5px black;

	h2 {
		margin-bottom: 20px;
		text-transform: uppercase;
	}

	label {
		margin-bottom: 10px;
	}

	#note-category,
	#note-text {
		margin-bottom: 20px;
		padding: 10px 20px;
		width: 100%;
		max-width: 90%;
		border-radius: 5px;
	}

	#note-text {
		min-height: 150px;
		max-height: 400px;
	}

	.error {
		margin-bottom: 20px;
		color: red;
		visibility: hidden;
	}
}

@media (max-width: 700px) {
	.add-note-panel {
		width: 450px;
		#note-text {
			min-height: 100px;
			max-height: 250px;
		}
	}
}

@media (max-width: 600px) {
	.note-area {
		justify-content: center;
	}

	.add-note-panel {
		width: 400px;

		h2 {
			font-size: 20px;
		}

		label {
			font-size: 14px;
		}

		#note-text {
			min-height: 70px;
			max-height: 200px;
		}
	}
}

@media (max-width: 500px) {
	.menu {
		flex-direction: column;
		padding: 20px;
	}

	.menu-buttons {
		margin-top: 25px;
	}
}

@media (max-width: 450px) {
	.add-note-panel {
		width: 300px;
		padding: 20px 0;

		h2 {
			font-size: 16px;
		}

		label {
			font-size: 12px;
		}
	}
}
